<!-- <h1>2013 Big Idea Day - October 5th, 2013</h1>
<h2>Brought to you by The Mountain School </h2> -->

<div id="buckets-container">
  <%= image_tag("/images/GardenHillBuckets.png", :alt => "Garden Hill", :id => "buckets-image") %>
  <p id="buckets-text">
    Big Idea Day - October 5th, 2013
  </p>
</div>

<div id="topic">
  <h1>Gender in America in 2013: Where are we now?</h1>
</div>

<div id="about-summary">
	Join 5-10 Mountain School alums who live near you for a Big Idea Day discussion at a volunteer host’s home on the afternoon of <b>Saturday, October 5th</b>.  Just let us know you want to participate by signing up below, and we will match you with the nearest host.  If you are interested in hosting yourselves, you can indicate that as well; we still need a few more gathering places.
	<br>
	If you do not live near other Mountain School graduates, please let us know if you would like to participate in a virtual meeting via the Internet.
</div><br>

<div class="hr"><hr /></div>

<div class="container" id="sign-up-section">
  <div class="row">
    <div class="span5">
      <div id="sign-up-form">
        <h2>Sign Up</h2>
        <h6>Fields with an * are required</h6>

        <%= render 'attendees/form' %>
      </div>
    </div>
    <div class="span7">
      <% if false %>
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=Vershire,Vermont&zoom=13&size=400x300&maptype=terrain&sensor=false">
      <% end %>

      <%= gmaps4rails(@locations_json) %>

    </div>
  </div>

  <div class="hr"><hr /></div>
</div>

<div id="about-details">
  <h2>Some Questions to Consider</h2>
  Last year’s inaugural Big Idea Day discussion, Technology: Who’s the Boss? was a huge success (and led to coverage in The New York Times and on the BBC, as well as influenced the new cell phone policy at The Mountain School).
  <br>

  <ul>
    <li>How has gender affected your own choices in life, and how does it affect your sense of the future?</li>
    <li>Do people in their twenties think differently about gender than those in their thirties, forties, and older?  How?</li>
    <li>What is the relationship between gender and money?</li>
    <li>Have the writings of Ann Marie Slaughter and Sheryl Sandberg (and others) on the work/life balance of women in the workplace affected your own interactions or behavior at work, or at home?</li>
    <li>Are men included in this debate? What are the ways in which it is challenging to be a man in today's changing culture, society, and economy? And for that matter, what does it mean to be "a man?"</li>
  </ul><br>

  And since we like to tie Big Idea Day back to The Mountain School:
  <ul>
    <li>Why is it that applications to The Mountain School from girls have consistently outnumbered those from boys by two-(or even three-)to-one?  Should the Mountain School do something different to achieve gender balance, and if so what?  Or should they “leave well enough alone?”</li>
    <li>Last semester, some of the students made the case to the faculty that the school should have at least one “gender-neutral” dorm.  What do you think of that idea?</li>
    <li>What did the Mountain School teach you, directly or indirectly, about gender?  What should it teach its current students, and how?</li>
  </ul>
</div>

<div class="hr"><hr /></div>

<div id="resources">
  <h2>Resources to get you thinking</h2>
  <h4>Coming soon!</h4>
</div>