<h1>2013 Big Idea Day</h1>
<h2>Brought to you by The Mountain School </h2>

<%= image_tag("/images/GardenHillBuckets.png", :alt => "Garden Hill") %>

<div id="event-info">
	The Alumni Committee is now pleased to announce our second Big Idea Day topic, 

	for small gatherings of Mountain School graduates around the world on October 5

	Gender in America in 2013: What’s going on?

	• How has gender affected your own choices in life, and how does it affect your 

	sense of the future?

	• Do people in their twenties think differently about gender than those in their 

	thirties, forties, and older?  How?

	• Have the writings of Ann Marie Slaughter and Cheryl Sandberg (and others) 

	on the work/life balance of women in the workplace affected your own 

	interactions or behavior at work, or at home?
</div><br>

<h2>Sign Up For More Info</h2>
<h6>Fields with an * are required</h6>

<%= render 'attendees/form' %>